<body class="img">
  <b class="" style="margin-top:30px;">Weather App</b>
  <div class="row" style="padding-top:30px;">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 d-flex" style="gap: 10px;">
        <input class="form-control shadow" type="text" [(ngModel)]="weath" placeholder="Search for your location...">
        <button type="submit" class="btn shadow" (click)="getweth()">Search</button>
      </div>
      <div class="col-4"></div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="weather-card one" *ngIf="weatherdata">
          <div class="top">
            <div class="wrapper">
              <div class="mynav">
                <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                <!-- <a href="javascript:;"><span class="lnr lnr-cog"></span></a> -->
              </div>

              <h3 class="location"><span>{{weatherdata.name}}</span></h3>
              <p class="temp">
                <span class="temp-value">{{(weatherdata.main.temp - (273.15)).toFixed(2)}} </span>
                <span class="deg">o</span>
                <a href=""><span class="temp-type">C</span></a>
              </p>
            </div>
          </div>
          <div class="bottom">
            <div class="wrapper">
              <ul class="forecast pb-5">
                <li class="active">
                  <span class="date">Country</span>
                  <span class="lnr lnr-sun condition">
                    <span class="temp">&nbsp; {{weatherdata.sys.country}}<span class="deg"></span><span
                        class="temp-type"></span></span>
                  </span>
                </li>
                <li class="active">
                  <span class="date">Humidity</span>
                  <span class="lnr lnr-moon condition">
                    <span class="temp">&nbsp;{{weatherdata.main.humidity}} <span class="deg"></span><span
                        class="temp-type"></span></span>
                  </span>
                </li>
                <li class="active">
                  <span class="date">Pressure</span>
                  <span class="lnr lnr-cloud condition">
                    <span class="temp">&nbsp; {{weatherdata.main.pressure}} <span class="deg"></span><span
                        class="temp-type">hPa</span></span>
                  </span>
                </li>
                <li class="active">
                  <span class="date">Feels like</span>
                  <span class="lnr lnr-earth condition">
                    <span class="temp">&nbsp; {{weatherdata.main.feels_like}} <span class="deg"></span><span
                        class="temp-type"></span></span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>